* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
  margin: 0 auto;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-size: normal;
}
.list-container {
  list-style: none;
  display: flex;
  margin: 0 auto;
  gap: 24px;
  border: none;
  padding-top: 96px;
  padding-bottom: 72px;
}
.link {
  text-decoration: none;
}
:root {
  --accent-color: #4d5ae5;
  --text-color: #2e2f42;
}
body {
  font-family: "Roboto", "sans-serif";
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.container-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.logo {
  font-family: "Raleway", "sans-serif";
  color: var(--text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 77px;
}

.logo-web {
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
}

.logo-studio {
  font-family: "Raleway", "sans-serif";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
.menu {
  display: flex;
  gap: 40px;
}
.contact-list-link {
  list-style: none;
  text-decoration: none;
  color: #434455;
  margin-left: 40px;
}

.navigation {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  letter-spacing: 0.02em;
  margin-right: auto;
}
.link:hover,
.link:focus {
  color: #4d5ae5;
}
.navigation list link {
  color: var(--text-color);
}
.background {
  background: #2e2f42;
  padding-top: 192px;
  padding-bottom: 192px;
}

.name-hero {
  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  width: 492px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 600;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  min-width: 170px;
  height: 51px;
  border-radius: 4px;
  offset: 0px, 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
  color: #ffffff;
}
.adge {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}

.main-name-section {
  font-size: 36px;
  color: var(--text-color);
  line-height: 1.11;
  /*padding-top: 120px;*/
  margin-bottom: 72px;
  text-align: center;
}

.container-servis {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
/*.main-name-container {
  display: flex;
  gap: 24px;
  padding-bottom: 120px;
}*/
.main-name {
  color: var(--text-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-top: 32px;
  margin-bottom: 8px;
  text-align: center;
}
.main-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 32px;
  /*padding-bottom: 120px;*/
}

.img-team {
  min-height: 300px;
  border: 1px solid #e7e9fc;
}
.name-block {
  color: var(--text-color);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
}
.name-block-color {
  background: #f4f4fd;
  padding-top: 120px;
}
.list {
  display: flex;
  gap: 24px;
}
.footer-container {
  padding-left: 156px;
}
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.studio-footer {
  font-family: "Raleway", "sans-serif";
  color: #f4f4fd;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
}
.footer-text {
  color: #e7e9fc;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}
.footer-text-container {
  width: 264px;
  outline: 1px solid red;
}
/*======================PORTFOLIO==============*/
.menu-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  padding: 12px 24px;
  margin-top: 96px;
  margin-bottom: 72px;
 

}
.menu-btn:hover,
.menu-btn:focus {
  background: #404bbf;
  color: #ffffff;
}
.pf-naim-text {
  outline: 1px solid #F4F4FD;
  margin-bottom: 32px;
}

.img-container {
  width: calc(100%-48px) / 3;
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  gap: 24px;
  padding-bottom: 120px;
}

.container-meny-pf {
  display: flex;
  gap: 24px;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 72px;
  margin-left: 156px;
}
.portfolio-name {
  margin-top: 32px;
}
.portfolio-text {
  margin-top: 8px;
  padding-bottom: 32px;
}
.pf-h3-p{
 padding-bottom: 8px;
  padding-left: 16px;
  /*outline: 1px solid red;*/
}